<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1061999729228-epi3g0eotcvqchlvcoelg2i648d1v3vq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1061999729228-epi3g0eotcvqchlvcoelg2i648d1v3vq</string>
	<key>API_KEY</key>
	<string>AIzaSyB8p7FmK0qzlK12EQS8-zKkBchTgiEGOSM</string>
	<key>GCM_SENDER_ID</key>
	<string>1061999729228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.subratpadhi007.Truckish</string>
	<key>PROJECT_ID</key>
	<string>truckish-proj</string>
	<key>STORAGE_BUCKET</key>
	<string>truckish-proj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061999729228:ios:a4b4ab568e3e0a34</string>
	<key>DATABASE_URL</key>
	<string>https://truckish-proj.firebaseio.com</string>
</dict>
</plist>